@keyframes fadey {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
figure#slideshow {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
figure#slideshow div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0;
}
figure#slideshow div p {
  position: absolute;
  left: 30%;
  bottom: 10%;
  z-index: 100;
}
figure#slideshow div:first-child {
  position: relative;
}
